* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #dbd0e9;
    color: #000;
    margin: 0;
}

.logo {
    display: block;
    margin: auto;
    width: 150px;
    height: 150px;
}

p {
    color: #000;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin-top: -50px;
}

.container {
    max-width: 1030px;
    margin: auto;
    background-color: #ffffff;
    border-radius: 15px;
    overflow-y: auto;
    margin-bottom: 10px;
    height: 70vh;
}

.message {
    background: #ec6c6a;
    padding: 10px;
    border-radius: 5px;
    width: 30%;
    margin: 17px 22px;
    word-wrap: break-word;
}

.left {
    float: left;
    clear: both;
}

.right {
    float: right;
    clear: both;
}

span {
    font-weight: bold;
    text-transform: uppercase;
}

.send {
    display: flex;
    justify-content: center;
}

#send-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1030px;
    margin: auto;
    margin-bottom: 10px;
    width: 100%;
}

#msginp {
    width: 80%;
    font-size: 15px;
    height: 34px;
    padding: 10px;
    border-radius: 6px;
    outline: none;
    border: 1px solid black;
}

.btn {
    height: 34px;
    border-radius: 6px;
    margin-left: 2px;
    cursor: pointer;
    background-color: #ec6c6a;
    border: none;
    color: #000;
    padding: 10px;
    width: 20%;
}

#form-container {
    margin: auto;
    margin-top: 20px;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 200px;
    max-width: 500px;
    background-color: #fff;
}

.button {
    height: 34px;
    margin-top: 5px;
    font-weight: 500;
    cursor: pointer;
    background-color: #ec6c6a;
    border-radius: 5px;
    border: none;
    padding: 10px;
    width: 30%;
}

#nameinp {
    width: 80%;
    border: 1px solid black;
    outline: none;
    border-radius: 5px;
    font-size: 15px;
    height: 34px;
    padding: 10px;
}

small {
    margin-top: 5px;
}